:root{
    --blue-color:#A8C9D0;
    --pink-color:#FCCCCC;
    --green-color:#889985;
    --bright-blue:#00AAF0;
    --hot-pink:#FB51F8;
    --background:#E7F3EF;



}
body{
    /* background-color: lightgray; */
    font-family: 'Montserrat', sans-serif;
    background-image: url("./photos/pexels-miguel-á-padriñán-255379.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
main{

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
header{
    font-family:"Hachi Maru Pop", cursive;
    text-align: center;
}

.title{
    /* max-width: 75%; */
    font-size:5rem;
}
.nav-link{
    color:black;
    font-weight:100;
    font-size: larger;
     
}
section{
    display:block;
    margin:auto;
}

.img-container{
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
}
.container{
    border-radius: 8px;
    margin-top: 10px;
    /* background-color: var(--background); */
    opacity: 7;
}
.card{
    margin:5px;
    align-items: center;
}
.img{
    width:100%;
}

.img:hover{
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  /* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  

.section-header{
    width: 100%;
    margin-top: 3px;
    /* background-color: white;
    opacity: .7;
    border-radius: 8px;; */
}
h2{
    margin-top: 2px;
    padding-top: 8px;
}



.section-background{
    background-color: white;
    opacity: .8;
    border-radius: 8px;
    min-height: 7rem;
}

.section-text{
    text-align: center;
}
.registry-link a{
    color:var(--green-color);
    font-size: 1.8rem;
}
.registry_list{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.bottom-spacer{
    min-height: 25px;
}

  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
      color:red;
    }
    .title{
        font-size:3rem;
        max-width: 95%;
    }
    .due-date{
        max-width: 95%;
        font-size: medium;
    }
    .section-background{
        width:97%;
    }
  }